<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DPI.dao.MemorandumInfoDao">
	<insert id="insertMemorandumInfo" parameterType="DPI.entity.MemorandumInfo">
		insert into memorandum (openid, date, title, content) values (#{openid}, #{date}, #{title}, #{content})
	</insert>
	
	<select id="loadAllMemorandumInfo" resultType="DPI.entity.MemorandumInfo" parameterType="String">
		select * from memorandum where openid=#{openid}
	</select>
	
	<select id="loadMemorandumInfoById" resultType="DPI.entity.MemorandumInfo" parameterType="Integer">
		select * from memorandum where id=#{id}
	</select>
	<update id="udateMemorandumInfoById" parameterType="DPI.entity.MemorandumInfo">
		update memorandum set date=#{date}, title=#{title}, content=#{content} where id=#{id} and openid=#{openid}
	</update>
</mapper>
