<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DPI.dao.MessageDao">
	<insert id="insertMessage" parameterType="DPI.entity.Message">
		insert into message (sender, addressee, content, date) values (#{sender}, #{addressee}, #{content}, #{date})
	</insert>
	
	<select id="loadMessageByUser" parameterType="String" resultType="DPI.entity.Message">
		select * from message where (sender=#{sender} and addressee=#{addressee}) or (sender=#{addressee} and addressee=#{sender})
	</select>
	
	<select id="loadLastMessageByUser" parameterType="String" resultType="DPI.entity.Message">
		select * from message 
		where id= 
				(select MAX(id) from 
					((select * from message 
					where (sender=#{sender} and addressee=#{addressee}) 
					   or (sender=#{addressee} and addressee=#{sender}))) 
					   as messageData)
	</select>
</mapper> 
